<!-- # {{ ansible_managed }} -->

<!DOCTYPE html>
<html>
<head>
  <title>Host {{ inventory_hostname }}</title>
  <style>* { font-family: Helvetica, Arial, sans-serif }
div {
   border: 2px solid;
   width: 300px;
   border: 25px solid;
   padding: 25px;
   margin: 25px;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
     }
</style>
</head>
<body>
  <h1>Host {{ inventory_hostname }}</h1>
  <br>
  IPv4 Address : {{ ansible_default_ipv4.address }}
  <br>
  Domain Name : {{ ansible_domain }}
  <br>
  <div>
  Date : {{ ansible_date_time.date }}
  Heure UTC  : {{ ansible_date_time.time }}
  </div>
  <div>
  Clé publique : {{ ansible_ssh_host_key_rsa_public }}
  </div>
</body>
</html>
